@charset "utf-8";
/* CSS Document */
html{
	font-family:"Microsoft YaHei","微软雅黑";
 	font-size: 100%;
}
body{
	margin:0;
	padding:0;
	background-color:#eaedf2;
}
li{
	list-style: none;
}
a{
	text-decoration:none;
}
ul{
	margin:0;
	padding:0;
}

nav{
	width:100%;
}
#hiddenNav{
	display:none;
}
nav .linkBar{
	width:100%;
	height:40px;
	background-color:#333;
}
nav .linkBar ul{
	width:62.1875%;
	margin:0 auto;
}
nav .linkBar li{
	float:left;
}
nav .linkBar li.service_phone{
	float:right;
	font-size:0.875em;
	color:#fff;
	padding:10px 0;
}
nav .navBar{
	width:100%;
	height:120px;
	background-color:#ccc;
	border-bottom:solid #6dd1eb 0.25em;
}
nav .navBar ul{
	width:62.1875%;
	margin:0 auto;	
}
nav .navBar ul li{
	float:left;	
}