*{
    margin:0;
    padding:0;
}
.container {
    font-family: 微软雅黑;
    position: relative;
    /*height:100%;*/
    min-height: 100%;
    color: #333;
}
html,body{
    height:100%;
}
@media screen and (min-width:1025px) {
    .container {
        padding-bottom: 510px;
       }
    article {
        background-color: #eaedf2;
        height:100%;
    }
    .art_wrap {
        width: 990px;
        height:100%;
        margin: 0 auto;
        background-color: #fff;
        padding: 50px 120px;
        box-sizing: border-box;
    }
    .nav a {
        color: #333;
        text-decoration: none;
    }
    .main {
        color: #2484fb;
    }
    .partner {
        font-size: 24px;
        padding: 60px 0px 20px 0px;
    }
    .sourse {
        font-size: 14px;
        color: #9c9c9c;
    }
    .sourse span:last-child {
        margin-left: 20px;
    }
    .art_wrap hr {
        border: 1px solid #4c4c4c;
        margin-top: 20px;
    }
    .cont {
        display: flex;
        flex-direction: column;
        font-size:14px;
        line-height:30px;
    }
     .cont img{
        width:60%!important;
        height:auto!important;
        margin-top:30px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .container {
        padding-bottom: 460px;
    }
    article {
        background-color: #eaedf2;
        height:100%;
    }
    .art_wrap {
        width: 720px;
        height:100%;
        margin: 0 auto;
        background-color: #fff;
        padding: 50px 120px;
        box-sizing: border-box;
    }
    .nav a {
        color: #333;
        text-decoration: none;
    }
    .main {
        color: #2484fb;
    }
    .partner {
        font-size: 24px;
        padding: 60px 0px 20px 0px;
    }
    .sourse {
        font-size: 14px;
        color: #9c9c9c;
    }
    .sourse span:last-child {
        margin-left: 20px;
    }
    .art_wrap hr {
        border: 1px solid #4c4c4c;
        margin-top: 20px;
    }
    .cont {
        display: flex;
        flex-direction: column;
        font-size:14px;
        line-height:30px;
    }
    .cont img{
        width:100%!important;
        height:auto!important;
        margin-top:30px;
    }
}

@media screen and (max-width:767px) {
    .container {
        padding-bottom: 23.75rem;
    }
    article{
        height:100%;
    }
    .art_wrap {
        width: 19rem;
        height:100%;
        margin: 0 auto;
        background-color: #fff;
        padding: 1rem 0;
    }
    .nav {
        display: none;
    }
    .main {
        color: #2484fb;
    }
    .partner {
        font-size: 1.5rem;
        padding:0 0 1rem 0rem;
    }
    .sourse {
        font-size: 0.875rem;
        color: #9c9c9c;
    }
    .sourse span:last-child {
        margin-left: 1rem;
    }
    .art_wrap hr {
        width: 19rem;
        border: 1px solid #4c4c4c;
        margin-top: 1rem;
    }
    .cont {
        display: flex;
        flex-direction: column;
        font-size: 0.875rem;
        line-height:1.5rem;
    }
    .cont img{
        width:100%!important;
        height:auto!important;
        margin-top:1rem;
    }
}
